/* Gestione appelli (componente Request): Form e Tabella */

.request-table form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.75rem;
  align-items: end;
}
.request-table label { font-weight: 600; }

.request-table select{
  width: 40%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.request-table table {
  width: 100%;
  border-collapse: collapse;
}
.request-table th,
.request-table td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 0.0625rem solid #ddd;
}
.request-table .approva,
.request-table .rifiuta{
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  color: white;
}

.request-table .formButton{
  width:100%;
  padding: 0.75em 1.5em;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;

  background: linear-gradient(
    to bottom right,
    #b0e6fa,
    #1da4e2   
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.request-table .formButton:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.request-table .formButton:active {
 transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

//bottone approva
.request-table .approva{
  width:100%;
  padding: 0.75em 1.5em;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;

  background: linear-gradient(
    to bottom right,
    #bdf3b0,
    #17ce54   
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.request-table .approva:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.request-table .approva:active {
 transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

//bottone rifiuta
.request-table .rifiuta{
  width:100%;
  padding: 0.75em 1.5em;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;

  background: linear-gradient(
    to bottom right,
    #f8a7a7,
    #df0606   
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.request-table .rifiuta:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.request-table .rifiuta:active {
 transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.pending {
  color: grey;
  font-weight: bold;
}

