<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StudyPlanner - Dashboard</title>
</head>
<body>
  <header>
    <div class="container header-content">
      <h1 class="logo"> StudyPlanner</h1>
      <nav>
        <a href=" ">Home</a>
        <a href="login">Login</a>
        <a href="dashboard">Dashboard</a>
      </nav>
    </div>
  </header>
  <main class="container">
    <section class="dashboard">
      <h2>Dashboard Studente</h2>
      <div class="riquadri">
        <div class="riquadro">
          <h3>Esami nel piano</h3>
          <p>5</p>
        </div>
        <div class="riquadro">
          <h3>CFU Totali</h3>
          <p>36 / 60</p>
        </div>
        <div class="riquadro">
          <h3>Completamento</h3>
          <p>60%</p>
        </div>
      </div>
    </section>
    <section class="dashboard">
      <h2>Dashboard Professore</h2>
      <div class="riquadri">
        <div class="riquadro">
          <h3>Programmazione Web & Mobile</h3>
          <p>Promossi: 65%</p>
          <p>Bocciati: 35%</p>
        </div>
        <div class="riquadro">
          <h3>Basi di Dati</h3>
          <p>Promossi: 70%</p>
          <p>Bocciati: 30%</p>
        </div>
      </div>
    </section>
  </main>
  <footer>
    <p> Studyplanner 2025 </p>
  </footer>
</body>
</html>