<main class="container">
    @if (auth.hasRole("student")){
    <section class="dashboard">
      <h2>Dashboard Studente</h2>
      <div class="riquadri">
        <div class="riquadro">
          <h3>Esami nel piano</h3>
          <p>5</p>
        </div>
        <div class="riquadro">
          <h3>CFU Totali</h3>
          <p>36 / 60</p>
        </div>
        <div class="riquadro">
          <h3>Completamento</h3>
          <p>60%</p>
        </div>
      </div>
    </section>
    }
    @if (auth.hasRole("professor")){
    <section class="dashboard">
      <h2>Dashboard Professore</h2>
      <div class="riquadri">
        <div class="riquadro">
          <h3>Programmazione Web & Mobile</h3>
          <p>Promossi: 65%</p>
          <p>Bocciati: 35%</p>
        </div>
        <div class="riquadro">
          <h3>Basi di Dati</h3>
          <p>Promossi: 70%</p>
          <p>Bocciati: 30%</p>
        </div>
      </div>
    </section>
  }
  </main>