<!DOCTYPE html>
<html lang="it">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>StudyPlanner - Home</title>
</head>
<body>
  <header>
    <div class="container header-content">
      <h1 class="logo">📘 StudyPlanner</h1>
      <nav>
        <a href="index.html">Home</a>
        <a href="login.html">Login</a>
        <a href = "dashboard.html">Dashboard</a>
        <a href = "faq.html">Faq/Segnalazioni</a>
      </nav>
    </div>
    <div class="slider">
      <img src="img1.png" class="slide" alt="Immagine 1">
      <img src="img2.png" class="slide" alt="Immagine 2">
    </div>
  </header>
  <main class="container">
    <section class="hero">
      <h2>Organizza i tuoi esami universitari</h2>
      <p>Accedi al tuo piano di studi, cerca appelli e controlla i CFU in pochi click</p>
    </section>
    <section class="search">
      <input type="text" placeholder="Cerca per codice o nome esame...">
      <button>Cerca</button>
    </section>
    <section class="exams">
      <h3>Esami Disponibili</h3>
      <ul>
        <li><strong>INF001</strong> – Analisi Matematica 2</li>
        <li><strong>INF002</strong> – Programmazione Web</li>
        <li><strong>INF003</strong> – Basi di Dati</li>
      </ul>
    </section>

    <section class = "description">
      <h3> Cosa offre la nostra piattaforma? </h3>
      <ul>
        <li> ✅ Pianifica lo studio in maniera efficiente, facile e veloce </li>
        <li> 📊 Tieni traccia dei progressi durante la sessione </li>
        <li> 👥 Condividi e confronta con altri studenti </li>
      </ul>
    </section>
  </main>
  <footer>
    <p>© 2025 StudyPlanner - Tutti i diritti riservati</p>
  </footer>
</body>
</html>