/* Componente courses*/

.libretto {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.libretto table {
  width: 100%;
  max-width: 40rem;
  border-collapse: collapse;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.libretto th,
.libretto td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.libretto thead tr {
  font-weight: bold;
  background-color: #f9f9f9;
}

.libretto tbody tr:hover {
  background-color: #f1f1f1;
}

.libretto tr.added {
  background-color: #e6faff; /* azzurro molto chiaro */
}

.libretto tr.added td button {
  display: none;
}

.riquadri {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}
.riquadro {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,0.05);
  flex: 1 1 20rem;
  max-width: 40rem;
}
.riquadro h2 {
  margin-bottom: 2rem;
}
.riquadro form {
  display: flex;
  flex-direction: column;
}
.riquadro label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.riquadro input,
.riquadro select {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid #ccc;
}

.riquadro label { font-weight: 600; }

.riquadro table {
  width: 100%;
  border-collapse: collapse;
}
.riquadro th,
.riquadro td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 0.0625rem solid #ddd;
}

button {
  width:100%;
  padding: 0.75em 1.5em;
  font-size: 16px;
  color: #fff;
  text-align: center;
  cursor: pointer;
  border: none;
  border-radius: 0.5em;

  background: linear-gradient(
    to bottom right,
    #b0e6fa,
    #1da4e2   
  );
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

button:active {
 transform: translateY(0);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
