<main class="container" *ngIf="user$ | async as user">

  <!-- PIANO DI STUDI STUDENTE -->
  @if (user.role === 'studente'){
    <section class = summary>
    <table>
      <tbody>
        <tr> 
           <td> {{user.first_name}} {{user.last_name}} </td>
        </tr>
        <tr>
          <td>Matricola: {{user.id}} </td>
        </tr>
        <tr>
          <td>Media: {{studentWeightedMean}} </td>
          <td>CFU Totali: <strong>{{totalCredits}}</strong> / {{MAX_CFU}}</td>
        </tr>
      </tbody>
    </table>
  </section>



    @if (libretto) {
      <button (click)="visualizzaCorsi()">Aggiungi corso</button>
      <section class="riquadri">
        <div class = "riquadro">
        <h2>Libretto</h2>
        <table>
            <thead>
              <tr>
              <th> ID Corso</th>
              <th> Nome del corso </th>
              <th> CFU </th>
              <th> Voto </th>
              </tr>
           </thead>
            <tbody>
             @for(course of studyPlan; track course.course_id) {
              <tr>
                <td> {{course.course_id}}</td>
                <td> {{course.course_name}} </td>
                <td> {{course.credits}} </td>
                <td> @if(course.grade !== null) { {{course.grade}} 
                    }@else { - }
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
    </section>  
    } @else {
      <button (click)="visualizzaCorsi()">Vai al libretto</button>
      <section class="riquadri">
        <div class="riquadro">
          <h2> Aggiungi corsi al tuo piano di studi </h2>
          <table>
            <thead>
              <tr>
                <td> ID corso </td>
                <td> Nome corso </td>
                <td> Docente </td>
                <td> CFU </td>
              </tr>
            </thead>
            <tbody>
              @for (course of courses; track course.id) {
              <tr>
                <td>{{ course.id }}</td>
                <td>{{ course.name }}</td>
                <td>{{ course.professor_first_name }} {{ course.professor_last_name }}</td>
                <td>{{ course.credits }} CFU</td>
                <td>
                  <button (click)="salvaPiano(course.id)">Aggiungi</button>
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </section>
    }   
}


  <!-- VISUALIZZAZIONE PROFESSORE -->
  @if(user.role === 'professore') {
  <section class = "riquadri">
    <div class = "riquadro">
      @if(courses.length !== 0) {
      <h2> I tuoi corsi </h2>
       <table>
        <thead>
          <tr>
            <th>ID Corso</th>
            <th>Corso</th>
            <th>CFU</th>
          </tr>
        </thead>
        <tbody>
          @for(course of courses; track course.id){
          <tr>
            <td> {{course.id }}</td>
            <td> {{ course.name }}</td>
            <td> {{ course.credits }}</td>
          </tr>
          }
        </tbody>
      </table>
    } @else {
      <h2>NON HAI ANCORA ALCUN CORSO ASSEGNATO</h2>
    }
      </div>
    </section>
  }



  <!-- CREAZIONE CORSI SEGRETERIA -->
  @if(user.role === 'segreteria') {
      <section class="riquadri">
        <div class="riquadro">
          <h2>Crea un Nuovo Corso</h2>
          <form id="Crea nuovo corso">
            <table>
              <tbody>
                <tr>
                  <td><label for="courseName"> Nome corso</label></td>
                  <td> <input id="courseName" #nameInput name="name" required>
                  </td>
                </tr>
                <tr>
                  <td><label for="professor"> Professore </label></td>
                  <td>
                    <select #prof_id id="professor" name="professor_id" required>
                      @for(prof of professors; track prof.id){
                      <option [value]="prof.id"> {{ prof.id }}, {{ prof.first_name }} {{ prof.last_name
                        }}</option>
                      }
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><label for="credits"> Crediti (CFU) </label></td>
                  <td>
                    <input id="credits" #creditsInput name="credits" required>
                  </td>
                </tr>
                <tr>
                  <td><button (click)="createCourse(nameInput, prof_id, creditsInput)"> Crea </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </form>
        </div>
        <div class="riquadro">
          <h2>Elenco Corsi</h2>
          @if(courses.length != 0){
            <table>
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Corso</th>
                  <th>Prof ID</th>
                  <th>Professore</th>
                  <th>CFU</th>
                </tr>
              </thead>
              <tbody>
                @for(course of courses; track course.id){
                  <tr>
                    <td> {{course.id }}</td>
                    <td> {{ course.name }}</td>
                    <td> {{ course.professor_id }}</td>
                    <td> {{ course.professor_first_name }} {{ course.professor_last_name }} </td>
                    <td> {{ course.credits }}</td>
                  </tr>
                }
              </tbody>
            </table>
          } @else {
            <p>Nessun corso creato al momento.</p>
          }
        </div>
    </section>
  }
</main>