
.summary {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    #e4fab0,
    #e2c41d 
  )
}
.summary table{
  width: 100%;
  max-width: 40rem;
  overflow: hidden;
}

.summary td {
  font-size: 18px;
  font-family: 'Gill Sans', Calibri;
}


.riquadri {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  justify-content: center;
  align-items: center;
}

.riquadri table {
  width: 100%;
  max-width: 40rem;
  border-collapse: collapse;
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.riquadri th,
.riquadri td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.riquadri thead tr {
  font-weight: bold;
  background-color: #f9f9f9;
}

.riquadri tbody tr:hover {
  background-color: #f1f1f1;
}


.riquadro {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.375rem rgba(0,0,0,0.05);
  flex: 1 1 20rem;
}
.riquadro h2 {
  margin-bottom: 2rem;
}
.riquadro form {
  display: flex;
  flex-direction: column;
}
.riquadro label {
  margin-bottom: 0.5rem;
  font-weight: 600;
}
.riquadro input,
.riquadro select {
  padding: 0.75rem;
  margin-bottom: 1rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid #ccc;
}


.riquadro table {
  width: 100%;
  border-collapse: collapse;
}
.riquadro th,
.riquadro td {
  padding: 0.75rem;
  text-align: left;
  border-bottom: 0.0625rem solid #ddd;
}



@media (max-width: 768px) {
  .riquadro {
    display: flex;
    flex-direction: column;
    width: 100%;          
    max-width: none;     
    padding: 1rem;       
    align-items: center;
    justify-content: center;
  }

  .riquadro table,
  .summary table,
  .riquadri table {
    width: 50%;
    border-collapse: collapse;
  }

  .riquadro th,
  .riquadro td,
  .summary td,
  .riquadri th,
  .riquadri td {
    font-size: 12px;      
    padding: 0.3rem 0.4rem;
    white-space: nowrap;  
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .riquadri {
    flex-direction: column;
    flex-wrap: flex;
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
  }
  .riquadro {
    flex: 1 1 calc(50% - 1.5rem);
    max-width: 100%;     
    margin: 0;
  }

  .summary table,
  .riquadri table {
    width: 100%;
    max-width: 50rem;     
    min-width: 30rem;    
  }
  .summary td,
  .riquadri th,
  .riquadri td {
    font-size: 18px;
  }
}



@media (min-width: 1025px) {
  .riquadri {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    padding: 2rem;
  }
  .riquadro {
    flex: 1 1 calc(33% - 2rem);
    max-width: 100%;
    margin: 0;
  }
  .summary table,
  .riquadri table {
    width: 100%;
    max-width: 80rem;     
    min-width: 50rem;  
  }
  .summary td,
  .riquadri th,
  .riquadri td {
    font-size: 18px;
  }
}