 <nav>
        @if (auth.hasRole(null)){
        <a href = " "> Home </a>
        <a href= "login">Login</a>
        }
        @if (auth.hasRole("student")){
        <a href = " "> Home </a>
        <a href= "login">Login</a>
        <a href = "dashboard">Dashboard</a>
        <a href = "plan"> Piano di studi</a>
        }
        @if (auth.hasRole("professor")){
        <a href = " "> Home </a>
        <a href= "login">Login</a>
        <a href = "dashboard">Dashboard</a>
        <a href = "request"> Richieste</a>
        }
         @if (auth.hasRole("admin")){
        <a href = " "> Home </a>
        <a href= "login">Login</a>
        <a href = "request"> Richieste</a>
        }
</nav>

<router-outlet></router-outlet>