<div class="faq">
  <h1>Domande Frequenti</h1>

  <div class="faq-item">
    <h2>1. Come posso creare un piano di studio?</h2>
    <p>Per creare un piano di studio è sufficiente accedere alla vostra dashboard personale ed utilizzare il tasto "Nuovo piano".</p>

    <h2>2. Posso condividere il mio piano di studio con altri?</h2>
    <p>Sì, è possibile generare un link univoco per condividere i tuoi progressi con altre persone.</p>

    <h2>3. È a pagamento il servizio?</h2>
    <p>No, lo strumento è gratuito per l'uso di tutti gli studenti.</p>
  </div>
</div>