/*Pagina 404 */
.error-container {
  text-align: center;
  padding: 2rem;
  background: linear-gradient(120deg, #006bb3, #00c6ff, #0099ff);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(6, 81, 124, 0.5);
  animation: fadeIn 1s ease-out both;
}

.error-container h2 {
  color: white;
  letter-spacing: 4px;
  margin-bottom: 1rem;
  animation: popIn 0.6s ease-out both;
}


.error-container a {
  color: white;
  margin-left: 1.25rem;
  text-decoration: none;
  font-weight: bold;
}
.error-container a:hover {
  text-decoration: underline;
}
